html {
    min-height: 100%;
    display: flex;
    font-size: 1px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    font-family: "Titillium Web", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body,
#root {
    display: flex;
    flex: 1;
    box-sizing: content-box;
}

#root {
    min-width: 100vw;
}

.ui-provider {
    display: flex;
    flex: 1;
}

h1,
h2,
h3,
h4,
button,
input,
textarea {
    font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

#modal {
    position: absolute;
    box-sizing: content-box;
}
